/* EditPostPage.css */

.editePageBG {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .editBlog {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  label {
    display: block;
    margin: 10px 0;
    color: #555;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .cancelButton{
    background-color: #af4c4c;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
  }
  .saveButton {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .cancelButton:hover{
    background-color: rgb(137, 0, 0);
    transition: 0.5s;
  }
  
  .saveButton:hover {
    background-color: #119000;
    transition: 0.5s;
  }
  
  .editButtonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  /* Additional styling for better visual appeal */
  .saveButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  

.category-buttons{
  border: none;
  background-color: white;
  color: black;
  margin: 0 5px;
  padding: 10px 20px;
  border-radius: 100px;
  cursor: pointer;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
  transition: background-color 0.5s; 
}
.catagories-btn:hover {
  background-color: #181818;
  color: white;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  transition: 0.5s;
}
.category-buttons.selected {
  background-color: black;
  color: white;
}

.category-buttons:focus {
  background-color: #181818;
  color: white;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  transition: 0.5s;
}
