* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.compose-button-container {
  position: absolute;
  right: 0;
  top: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.compose-button-container.fixed {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 5; 
}

.cpButton-style {
  border: none;
  background-color: transparent;
  color: white;
  margin: 0 auto;
  padding: 0;
  border-radius: 1000px;
  cursor: pointer;
  width: 100%;
  padding: 0 20px;
  justify-content: center;
}

.cpButton-style:hover {
  filter: drop-shadow(0px 0px 0px 0px rgba(0, 0, 0, 0.25));
  transition: 0.5s;
  justify-content: center;
}

.footer {
  position: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 180px;
  background-color: #000000;
  color: white;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  margin-top: 5%;
  display:flex ;
  justify-content: center;
  align-items: center;
}

.catagories-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 55% 0 0;
  width: 100%;
  height: 50px;
  position: relative;
  z-index: 2;
}

.catagories-btn {
  border: none;
  background-color: white;
  color: black;
  margin: 0 5px;
  padding: 10px 20px;
  border-radius: 100px;
  cursor: pointer;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
  transition: background-color 0.5s;
}
.catagories-btn.selected {
  background-color: black;
  color: white;
}
.catagories-btn:hover {
  background-color: #181818;
  color: white;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  transition: 0.5s;
}

.catagories-btn:focus {
  background-color: #181818;
  color: white;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  transition: 0.5s;
}

.cpButton-style {
  background-color: transparent;
  width: 100%;
}

.postButton-Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 0;
  width: 60%;
  background-color: #181818;
}

.deleteButton {
  border: none;
  background-color: rgb(197, 38, 38);
  color: hsl(0, 0%, 95%);
  margin: 0;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.editButton {
  border: none;
  background-color: rgb(94, 80, 217);
  color: #ebebeb;
  margin: 0;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.updateButton {
  border: none;
  background-color: rgb(51, 119, 255);
  color: #ffffff;
  margin: 0;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.navBarCatagories{
  position: sticky;
  background-color: #ffffff;
  padding-top: 55px;
  top: 0;
  
  z-index: 1;
}
.navBarCatagories.sticky {
  background-color: #ba5454;
  
}
.postPages{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 5px;
  width: 100%;
  background-color: #ffffff;
}
.postContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  border: 1px solid rgb(87, 87, 87);
  margin: 0 auto;
  width: 50%;
  background-color: #181818;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.postTitle {
  color: rgb(160, 160, 160);
  margin: 0 0 0 35px;
  padding: 0;
  overflow: hidden;
  
}

.postContent {
  color: rgb(255, 255, 255);
  margin: 10px 30px 0 30px;
  padding: 10px;
  overflow: hidden;
  text-align: justify;
  overflow-wrap: break-word; 
  word-wrap: break-word; 
  word-break: break-word; 
}

.postUser {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 10px 0 0 20px;
  padding: 10px;
  overflow: hidden;
  font-weight: bold;
  font-size: large;
  text-align: left;
}

.postCT {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
}

.cover-pic-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
}

.poster_title {
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  color: white;
  display: flex;
  align-items: flex-start;
}

.poster_rating {
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: flex-start;
}

.carouselPic {
  padding: 55px 0px 0px 0px;
  width: 100%;
  height: 100%;
}

.cover-pic-carousel::before {
  content: "";
  position: absolute;
  padding: 50px 0px 0px 0px;
  width: 100%;
  height: 70vh;
  z-index: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.2)
  ); 
}

.cover-pic-carousel {
  width: 100%;
  height: 75vh;
}

.cover-pic {
  width: 100%;
  height: 100%;
}

/*---------------------carousel------------------------------------------------------------------------*/

.slide-content{
  border-radius: 2rem;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 10px 0 ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-cont{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poster_t{
  margin: 10px 20px;
  padding: 20px 0;
  border-radius: 20px;
  overflow: hidden;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.8));
}

.pic_t{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.github-icon-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

.git-btn{
  height: 100%;
  width: 100%;
  border: none;
  margin: 0;
  padding: 10px 0;
  background-color: transparent;
}

.git-text{
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
}

.haed-c{
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.postCategory{
  color: white;
  margin: 10px 0 0 0px;
  padding: 15px 30px 0 0px;

  overflow: hidden;
  font-size: small;
  text-align: left;
}

.user-profile-pic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
}


.postImage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 300px;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 20px;
  overflow: hidden;
}

.postImage img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}