@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 0.5rem;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 7rem;
}

.sign-in {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 0 0;
}

.sign-button {
  background-color: white;
  width: 6rem;
  height: 2.2rem;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: rgba(51, 132, 253, 1);
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.03125rem;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.sign-button:hover {
  background-color: rgba(51, 132, 253, 1);
  color: white;
}

.sign-button:active {
  background-color: rgba(28, 89, 180, 1);
  color: rgba(227, 227, 227, 1);
}

.sign-out-button {
  background-color: white;
  width: 7.5rem;
  height: 2.8125rem;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: rgb(254, 88, 88);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.03125rem;
  transition: background-color 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}

.profile-user-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0 auto;
  cursor: pointer;
}

.cont{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 7rem 0 0;
  margin: 0 auto;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 0 0 0;
  right: 7rem;
}

.profile:hover {
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.searchBar-position {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  width: 100%;
}
