.background {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  background: url("./images/background-signIn3.jpg");
  justify-content: center; 
  align-items: center; 
  background-size: cover;
}

.google-border {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  position: relative;
  border-radius: 1em;
  text-align: center;
  width: 300px;
  height: 400px;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
}

.google-button {
  border-radius: 3rem;
  background-color: white;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
  width: 13rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.6rem;
  padding: 0;
}

.google-button:hover {
  background-color: rgba(43, 43, 43, 1);
  color: white;
  transition: 0.4s ease-in-out;
}

.master-logo {
  position: relative;
  margin: 0;
  padding: 0 0 20px 0;
  top: 0;
  width: 30% 
}

.google-border h3 {
  margin: 5px;
  padding: 5px;
}

.google-border p {
  margin: 10px 20px;
  padding: 10px 15px;
  text-align: center;
  font-family: Inter;
  font-size: 0.6rem;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  letter-spacing: 0.025rem;
}

.move-google-button {
  padding: 10px 0px 0px 0px;
}

.move-close-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.close-button {
  border: none;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 25px;
  width: 30px;
  height: 30px;
  font-size: large;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; 
}


.google-logo-img {
  padding: 0px 5px 2px 0px;
  height: 60%;
}

.need-help {
  border: none;
  background-color: transparent;
  padding: 0;
  position: absolute;
  bottom: 40px;
  right: 45px;
  cursor: pointer;
  font-size: 0.6rem;
}

.title {
  position: relative;
  top: 0;
  font-size: 1rem;
}

